.popup-image__close-btn {
  background: transparent url(../../../images/CloseIcon+.svg);
  background-size: contain;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 0;
  margin: -38px 0 0 5px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 400px) {
  .popup-image__close-btn {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}
